extends layout

block layout-content
  div.View
    h1.Banner Faucet
    div.Message
      div.Title
        h3 Social Media Authenticated
        h1 asdf
      span.Details Get your free tokens here
    div.NavButtons
      a(href="/user")
          div.NavButton Use the faucet!
